* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway;
    background-color: #F4F4F4;
    overflow: auto;
    position: relative;
    height: 100%;

}

.main__buy__links {
    margin-top: 40px;
    display: flex;
    max-width: 262px;
    align-items: center;

}

@media (max-width: 360px) {
    .main__buy__links {
        margin-top: 60px;
    }

}

.pages_main a {
    text-decoration: none;
    color: #404040;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.4px;
}

.pages_main_blue a {
    text-decoration: none;
    color: #025DC5;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.4px;
}

.pages_main a:active {
    color: #025DC5;
}

.main__buy__wrapper {
    max-width: 1137px;
    margin: 0 auto;


}

@media (max-width: 360px) {
    .main__buy__wrapper {
        width: 320px;
    }

}


.main__buy__headling {
    margin-top: 35px;
    text-align: center;
    color: #404040;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.64px;


}

@media (max-width: 360px) {
    .main__buy__headling {
        margin-top: 25px;
        font-size: 20px;
    }

}

.main__wrapper__list {
    max-width: 1140px;
    min-height: 900px;
    padding-left: 16.5px;


}

@media (max-width: 360px) {
    .main__wrapper__list {
        max-width: 309px;
        min-height: 400px;
        padding-left: 0;
    }

}

.main__list {
    display: flex;
    max-width: 1140px;
    min-height: 129px;
    margin-top: 40px;


}

@media (max-width: 360px) {
    .main__list {
        flex-wrap: wrap;
        margin-top: 25px;
        justify-content: center;
    }

}

.main__list__img {
    width: 231px;
    height: 79px;
}

.main__list__img__tel {
    color: #404040;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
}

.main__list__img__name {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 400;
    line-height: 165%;


}

@media (max-width: 360px) {
    .main__list__img__name {
        font-size: 16px;
        margin-top: 33px;
    }

}

.main__list__img__wrap {
    max-width: 236px;
    width: 100%;
    margin-right: 34.5px;
}

.main__list:last-child {
    margin-bottom: 60px;
}

.main__search__button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    border: none;
    background-image: url(../img/icon_search_svg.svg);
    background-color: #FCFCFC;
    cursor: pointer;
}