* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway;
    background-color: #F4F4F4;
}

.container_gr {
    gap: 20px;
    margin: 0 auto;
    margin-top: 28px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 1329px;
    min-height: 1419px;
    display: grid;
    grid-template-areas:
        "a b "
        "a c "
        "d f"
        "e f";
    grid-template-columns: repeat(auto-fit, 2, minmax(250px, 1fr));
    grid-template-rows: repeat(4, minmax(250px, 1fr));

    @media (max-width: 360px) {
        grid-template-areas:
            "a"
            "b "
            "c"
            "d"
            "e"
            "f";
        max-width: 320px;
        min-height: 1050px;
        gap: 20px;
        padding: 0 0;
    }
}

.boxone {
    grid-area: a;
    display: flex;
    background-color: #FCFCFC;
    flex-direction: column;
}

.boxtwo {
    grid-area: b
}

.boxthree {
    grid-area: c;

}

@media (max-width: 360px) {
    .boxthree {
        margin-top: -60px;
    }

}

.boxfour {
    grid-area: d
}

.boxsix {
    grid-area: f
}

.main__content__cards_big_headling {
    text-decoration: none;
    color: #025DC5;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;


}

@media (max-width: 360px) {
    .main__content__cards_big_headling {
        font-size: 20px;
        margin-top: 0;
    }

}

@media (max-width: 360px) {
    .common_wrapper {
        display: flex;
        align-items: start;
    }

}


.main__content__cards_big_description {
    margin-top: 20px;
    max-width: 563px;
    color: #100F0F;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;


}

@media (max-width: 360px) {
    .main__content__cards_big_description {
        font-size: 14px;
        margin-top: 10px;
        max-width: 305px;
        min-height: 48px;
    }

}

.main__content__cards_big_about_text {
    color: #025DC5;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;


}

@media (max-width: 360px) {
    .main__content__cards_big_about_text {
        font-size: 14px;
    }

}

.main__content__cards_proart {
    max-width: 519px;
    width: 100%;
    min-height: 402px;


}

@media (max-width: 360px) {
    .main__content__cards_proart {
        font-size: 14px;
        margin-top: 10px;
        max-width: 132px;
        min-height: 102px;
        margin-right: 21px;
    }

}

.common__wrapper__img {
    width: 100%;
    max-width: 420px;
    height: auto;

}

@media (max-width: 360px) {
    .common__wrapper__img {
        position: absolute;
        bottom: 30px;
        right: 10px;
    }

}

.boxone {
    padding: 65px 52px 52px 50px;
    overflow: hidden;

}

@media (max-width: 360px) {
    .boxone {
        padding: 15px 10px 13px 15px;
        max-width: 320px;
        height: 215px;
    }
}

.main__content__cards_big_about_wr_img {
    width: 100%;
    margin-top: 23px;
    display: flex;
    align-items: center;

}

@media (max-width: 360px) {
    .main__content__cards_big_about_wr_img {
        margin-top: 12px;
        margin-right: 52px;
    }

}

.main__content__cards_big_about_common {
    width: 25px;
    height: 25px;
}

.boxtwo {
    background-color: #FCFCFC;
    padding: 84px 0 85px 40px;


}

@media (max-width: 360px) {
    .boxtwo {
        padding: 15px 0 13px 15px;
        max-width: 320px;
        height: 215px;
        margin-top: -30px;
    }


}

.boxtwo__wrap {
    display: flex;


}

@media (max-width: 360px) {
    .boxtwo__wrap {
        display: block;
        max-width: 320px;
        height: 215px;
        position: relative;
    }

}

.main__content__cards_big_about {
    width: 25px;
    height: 25px;
}

.main__content__cards_big_about_img {
    width: 100%;
    max-width: 258px;
    height: auto;


}

@media (max-width: 360px) {
    .main__content__cards_big_about_img {
        width: 185px;
        height: 93px;
        padding-right: 20px;
    }

}

.main__content__cards_proart {
    width: 100%;
    height: auto;


}

@media (max-width: 360px) {
    .main__content__cards_proart {
        float: right;
    }

}

.boxthree__wrap {
    display: flex;


}

@media (max-width: 360px) {
    .boxthree__wrap {
        display: block;
        max-width: 320px;
        height: 215px;
        position: relative;
    }

}

.boxthree {
    background-color: #FCFCFC;
    padding: 45px 24px 0 40px;

}

@media (max-width: 360px) {
    .boxthree {
        padding: 15px 0 13px 15px;
        max-width: 320px;
        height: 215px;
    }

}

@media (max-width: 360px) {
    .boxtwo__wrap__text {
        max-width: 320px;
        height: 215px;
    }

}


.img__tuf,
.main__content__cards_rog {
    width: 100%;
    max-width: 258px;
    height: auto;


}

@media (max-width: 360px) {

    .img__tuf,
    .main__content__cards_rog {
        max-width: 164px;
        min-height: 99px;
        position: absolute;
        bottom: 10%;
        right: 10px;
    }

}

.boxfour__wrap {
    display: flex;


}

@media (max-width: 360px) {
    .boxfour__wrap {
        display: block;
        max-width: 320px;
        height: 215px;
        position: relative;
    }


}

.boxfour {
    background-color: #FCFCFC;
    padding: 45px 24px 0 40px;


}

@media (max-width: 360px) {
    .boxfour {
        padding: 15px 0 13px 15px;
        max-width: 320px;
        height: 215px;
        margin-top: -90px;
    }

}

.boxfive__wrap {
    display: flex;
    padding: 40p 45px 15px 0;


}

@media (max-width: 360px) {
    .boxfive__wrap {
        display: block;
        max-width: 320px;
        height: 215px;
        position: relative;
    }

}

.boxfive {
    background-color: #FCFCFC;
    padding: 45px 15px 32px 40px;


}

@media (max-width: 360px) {
    .boxfive {
        padding: 15px 0 13px 15px;
        max-width: 320px;
        height: 215px;
        margin-top: -120px;
    }

}

.boxsix {
    background-color: #FCFCFC;
    padding: 60px 0px 32px 40px;


}

@media (max-width: 360px) {
    .boxsix {
        padding: 15px 0 13px 15px;
        max-width: 320px;
        height: 215px;
        margin-top: 5px;
    }

}

.boxsix__wrap__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;


}

@media (max-width: 360px) {
    .boxsix__wrap__text {
        display: block;
        padding-right: 15px;
        align-items: start;
        height: 215px;
    }
}

.boxsix__wrap {
    display: flex;
    justify-content: center;


}

@media (max-width: 360px) {
    .boxsix__wrap {
        display: block;
        max-width: 320px;
        height: 215px;
        position: relative;
    }

}

.main__content__cards_big_description_vivobook {
    margin-top: 20px;
    max-width: 486px;
    color: #100F0F;
    text-align: right;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;

}

@media (max-width: 360px) {
    .main__content__cards_big_description_vivobook {
        margin-left: 0px;
        font-size: 14px;
        margin-top: 10px;
        width: 290px;
        text-align: left;
    }

}